version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: techreview-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
    volumes:
      - mongo_data:/data/db

  backend:
    build: .
    container_name: techreview-backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      MONGODB_HOST: mongo
    depends_on:
      - mongo

volumes:
  mongo_data:
