.site-footer {
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 106px;
  background-color: #111827;
  color: #e5e7eb;
  z-index: 1000;
}

.footer-inner {
  max-width: 1100px;
  height: 100%;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
