.site-footer {
  width: 100%;
  background-color: #111827;
  color: #e5e7eb;
}

.footer-inner {
  max-width: 1100px;
  min-height: 106px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
