.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 74px;
  background: linear-gradient(90deg, #2563eb, #1e40af);
  z-index: 1000;
}

.header-inner {
  max-width: 1100px;
  height: 100%;
  margin: auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* header.css */
.site-header .brand {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}


.header-nav a {
  color: #fff;
  margin-left: 16px;
  text-decoration: none;
  font-weight: 500;
}

.header-nav a:hover {
  text-decoration: underline;
}

.username {
  color: #fff;
  font-weight: 600;
  margin-right: 12px;
}
.admin-link {
  margin-left: 12px;
  color: #fde047;
  font-weight: 700;
  text-decoration: none;
}

.admin-link:hover {
  color: #facc15;
}

