<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Tech Product Review</title>

  <!-- Global CSS -->
  <link rel="stylesheet" href="../static/css/style.css" />
  <link rel="stylesheet" href="../static/css/share/footer.css"/>

  <!-- Header CSS -->
  <link rel="stylesheet" href="../static/css/share/header.css" />
</head>
<body>

  <!-- Shared Header -->
  <div id="app-header"></div>

  <!-- Main -->
  <main class="container">
    <h2 class="page-title">Danh sách sản phẩm</h2>
    <div id="product-list" class="product-grid"></div>
    <div id="productPagination" class="pagination"></div>
  </main>

  <div id="app-footer"></div>

  <!-- Shared Header JS -->
  <script src="../static/js/share/header.js"></script>
  
  <script src="../static/js/share/footer.js"></script>

  <!-- Page JS -->
  <script src="../static/js/products.js"></script>
</body>
</html>
